<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lqh.ebuyplt_1001p.Controller.mapper.PaginationMapper">

    <select id="UserAccountTablePagination"
            parameterType="com.lqh.ebuyplt_1001p.Controller.AdminPack.PageItem"
            resultType="com.lqh.ebuyplt_1001p.Controller.AdminPack.UserAccountTableItem">
        SELECT * FROM UserAccountTable ORDER BY uID ASC LIMIT #{pageSize} OFFSET (#{currentPage} - 1) * #{pageSize};
    </select>

    <select id="UserDeliveryInfoTablePagination"
            parameterType="com.lqh.ebuyplt_1001p.Controller.AdminPack.PageItem"
            resultType="com.lqh.ebuyplt_1001p.Controller.AdminPack.UserDeliveryInfoTableItem">
        SELECT uID as uID, uDeliveryAddress as uDeliveryAddress, uContactPersonName as uContactPersonName,
        uContactPersonPhone as uContactPersonPhone, uContactPersonGender as uContactPersonGender, oReceieverEmail as uContactPersonEmail,
        oPostalCode as oPostalCode, oDeliveryNote as oDeliveryNote, uDIndex as uDIndex
        FROM UserDeliveryInfoTable ORDER BY uID ASC LIMIT #{pageSize} OFFSET (#{currentPage} - 1) * #{pageSize};
    </select>

    <select id="UserFavoritesTablePagination"
            parameterType="com.lqh.ebuyplt_1001p.Controller.AdminPack.PageItem"
            resultType="com.lqh.ebuyplt_1001p.Controller.AdminPack.UserFavoritesTableItem">
        SELECT * FROM UserFavoritesTable ORDER BY uID ASC LIMIT #{pageSize} OFFSET (#{currentPage} - 1) * #{pageSize};
    </select>

    <select id="UserShoppingCartTablePagination"
            parameterType="com.lqh.ebuyplt_1001p.Controller.AdminPack.PageItem"
            resultType="com.lqh.ebuyplt_1001p.Controller.AdminPack.UserShoppingCartTableItem">
        SELECT * FROM UserShoppingCartTable ORDER BY uID ASC LIMIT #{pageSize} OFFSET (#{currentPage} - 1) * #{pageSize};
    </select>

    <select id="MerchantsProductTablePagination"
            parameterType="com.lqh.ebuyplt_1001p.Controller.AdminPack.PageItem"
            resultType="com.lqh.ebuyplt_1001p.Controller.AdminPack.MerchantsProductTableItem">
        SELECT * FROM MerchantsProductTable ORDER BY uID ASC LIMIT #{pageSize} OFFSET (#{currentPage} - 1) * #{pageSize};
    </select>

    <select id="ProductTablePagination"
            parameterType="com.lqh.ebuyplt_1001p.Controller.AdminPack.PageItem"
            resultType="com.lqh.ebuyplt_1001p.Controller.AdminPack.ProductTableItem">
        SELECT ProductTable.pID, ProductTable.pName, ProductTable.pType,
        ProductTable.pDiscount, ProductTable.pPrice, ProductTable.pProducer,
        ProductTable.pReleaseDate, ProductTable.pInfo, ProductTable.pInventory, ProductTable.pStatus,
        ProductImagesTable.pImagePath FROM ProductTable
        INNER JOIN ProductImagesTable ON ProductImagesTable.pID=ProductTable.pID WHERE ProductImagesTable.pImgType='缩略图'
        ORDER BY pID ASC LIMIT #{pageSize} OFFSET (#{currentPage} - 1) * #{pageSize};
    </select>

    <select id="ProductImagesTablePagination"
            parameterType="com.lqh.ebuyplt_1001p.Controller.AdminPack.PageItem"
            resultType="com.lqh.ebuyplt_1001p.Controller.AdminPack.ProductImagesTableItem">
        SELECT * FROM ProductImagesTable ORDER BY pID ASC LIMIT #{pageSize} OFFSET (#{currentPage} - 1) * #{pageSize};
    </select>

    <select id="ProductClicksInfoTablePagination"
            parameterType="com.lqh.ebuyplt_1001p.Controller.AdminPack.PageItem"
            resultType="com.lqh.ebuyplt_1001p.Controller.AdminPack.ProductClicksInfoTableItem">
        SELECT * FROM ProductClicksInfoTable ORDER BY pID ASC LIMIT #{pageSize} OFFSET (#{currentPage} - 1) * #{pageSize};
    </select>

    <select id="OrderFullInfoTablePagination"
            parameterType="com.lqh.ebuyplt_1001p.Controller.AdminPack.PageItem"
            resultType="com.lqh.ebuyplt_1001p.Controller.AdminPack.OrderFullInfoTableItem">
        SELECT
        OrderGeneralInfoTable.oOrderID, OrderGeneralInfoTable.oOrdererID,
        OrderBasicInfoTable.oDate, OrderBasicInfoTable.oStatus,
        OrdererInfoTable.oReceiverName, OrdererInfoTable.oReceieverGender, OrdererInfoTable.oReceieverEmail,
        OrderDeliveryInfo.oDeliveryAddress, OrderDeliveryInfo.oPostalCode, OrderDeliveryInfo.oContactPhone, OrderDeliveryInfo.oDeliveryNote
        FROM OrderGeneralInfoTable
        INNER JOIN OrderBasicInfoTable ON OrderGeneralInfoTable.oOrderID=OrderBasicInfoTable.oOrderID
        INNER JOIN OrdererInfoTable ON OrdererInfoTable.oOrderID=OrderGeneralInfoTable.oOrderID
        INNER JOIN OrderDeliveryInfo ON OrderDeliveryInfo.oOrderID=OrderGeneralInfoTable.oOrderID
        ORDER BY OrderGeneralInfoTable.oOrderID ASC LIMIT #{pageSize} OFFSET (#{currentPage} - 1) * #{pageSize};
    </select>

    <select id="OrderProductInfoTablePagination"
            parameterType="com.lqh.ebuyplt_1001p.Controller.AdminPack.PageItem"
            resultType="com.lqh.ebuyplt_1001p.Controller.AdminPack.OrderProductInfoTableItem">
        SELECT * FROM OrderProductInfoTable ORDER BY oOrderID ASC LIMIT #{pageSize} OFFSET (#{currentPage} - 1) * #{pageSize};
    </select>

</mapper>