<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.kingbase8.Driver"/>
                <property name="url" value="jdbc:kingbase8://localhost:54321/db_ebuyplt2"/>
                <property name="username" value="system"/>
                <property name="password" value="qh20050908"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>

        <!--注册文件，目的是让 MyBatis 框架能够找到并加载对应的 XML 映射文件-->
<!--        <mapper resource="mapper/UserAccountTableMapper.xml"/>-->

    </mappers>
</configuration>